body
{
    background:deeppink;

}
ul, li
{
    display: inline;
    color: white;
    background:black;
}
b{
    backround-color: green;
    transition: all 0.5s;
    padding: 10px;


}
a:hover{
    background-color: gold;

}

iframe{

    width: 100%;
}